<div id="get_started">
  <center>
    <h2>Hey! Enter your screen name to get started</h2>
    <form action='#' onsubmit="javascript:();">
      <input type='text' name='screen_name' />
      <input name="commit" type="submit" value="Get Started!">
    </form>
  </center>
</div>


