<div class='screen' id='screen_name_page'>
  <div class='art'>
    <header class='post_head'>
      <h2> Enter your screen name to continue </h2>
    </header>
    <form action='#'>
      <input type='text' name='screen_name' />
    </form>
    <span class='more'>
      <a href='javascript:();' id='screen_name_link'> Submit </a>
    </span>
  </div>
</div>

