<div id="get_started">
  <center>
    <h2>Hey! Enter your screen name to get started</h2>
    <form onsubmit="javascript:getScreenName();return false;">
      <input type='text' name='screen_name' />
      <input type="submit" value="Get Started!">
    </form>
  </center>
</div>


