<div class="question" id='audience_question'>
  <div class="title">
    <span class='question_mark'>Q. </span>
    <span id='question_content'>
      <%= @question.content -%>
    </span>
  </div>
  <div class="answer">
    <% form_tag('/audience/save',:id => 'question_form') do -%>
      <%= hidden_field_tag 'question_id', @question.id -%>
      <div id='answer_choices'>
	<% @question.answers.each do |answer| -%>
	  <%= radio_button_tag 'answer', answer.id -%> <%= answer.content -%> <br />
	<% end -%>
      </div>
      <span class='more'> 
	<a href='#' id='submit_link'> &nbsp;Submit&nbsp; </a>
      </span>
    <% end -%>
  </div>
</div>

