    <section id="new_question">
      <form action="#" onsubmit="Quiz.generateIdeas(); return false;">
        <p><%= text_field_tag "idea_keyword"%><%=submit_tag "Generate Ideas"%></p>
      </form>
      <div id="question_ideas">Type a query and click 'Generate Ideas' to generate new ideas</div>
      <div id="question_ideas_images"></div>
    </section>


		<section id="last_posts"><!--section for recent posts-->
		<header class="section_tit">
			<h3>Last Quizzes</h3>
		</header>
		
		
			<div class="single_post"><!--single post container-->
				<article>
				<div class="float">

					<figure>
						<img src="images/test3.jpg" alt="test" />
					</figure>
					<footer>
						<ul>
							<li><time datetime="2010-04-14" pubdate>April 14, 2010</time></li>
							<li>written by <a href="#">Mr. Hurley</a></li>

							<li>posted in <a href="#">Web Design</a>, <a href="#">Article</a></li>
							<li><a href="#">Comments (15)</a></li>
						</ul>
					</footer>
				</div>
				
				<div class="art">

					<header class="post_head">
						<h2><a href="#">Options To Consider When Your Client Is Driving You Mad</a></h2>
					</header>
					<p>I guess I would be speaking on your behalf when I say that I feel so grateful for my clients. After all, they put their trust in me and gladly compensate me for my efforts. I guess I would be...</p>
					<span class="more"><a href="#">Read more</a></span>
				</div>
				</article>

			
			</div>
			
			<div class="single_post"><!--single post container-->
				<article>
				<div class="float">
					<figure>
						<img src="images/test1.jpg" alt="test" />
					</figure>
					<footer>
						<ul>

							<li><time datetime="2010-04-14" pubdate>April 14, 2010</time></li>
							<li>written by <a href="#">Mr. Hurley</a></li>
							<li>posted in <a href="#">Web Design</a>, <a href="#">Article</a></li>
							<li><a href="#">Comments (15)</a></li>
						</ul>

					</footer>
				</div>
				
				<div class="art">				
					<header class="post_head">
						<h2><a href="#">Purple In Web Design: A New Trend?</a></h2>
					</header>
					<p>For a long time purple has been the least used colour in web design. In recent months I noticed the number of websites...</p>
					<span class="more"><a href="#">Read more</a></span>

				</div>
				</article>			
			</div>
			
			<div class="single_post"><!--single post container-->
				<article>
				<div class="float">
					<figure>
						<img src="images/test4.jpg" alt="test" />
					</figure>

					<footer>
						<ul>
							<li><time datetime="2010-04-14" pubdate>April 14, 2010</time></li>
							<li>written by <a href="#">Mr. Hurley</a></li>
							<li>posted in <a href="#">Web Design</a>, <a href="#">Article</a></li>

							<li><a href="#">Comments (15)</a></li>
						</ul>
					</footer>
				</div>
				
				<div class="art">				
					<header class="post_head">
						<h2><a href="#">How To Design A Better Blog? Break Down The Rules</a></h2>
					</header>

					<p>Once upon a time in World Wide Web a private and personal diary, where recording daily activities and reflections, called Weblog. </p>
					<span class="more"><a href="#">Read more</a></span>				
				</div>
				</article>			
			</div>
			
			<div class="single_post"><!--single post container-->
				<article>
				<div class="float">
					<figure>

						<img src="images/test2.jpg" alt="test" />
					</figure>
					<footer>
						<ul>
							<li><time datetime="2010-04-14" pubdate>April 14, 2010</time></li>
							<li>written by <address><a href="#">Mr. Hurley</a></address></li>
							<li>posted in <a href="#">Web Design</a>, <a href="#">Article</a></li>

							<li><a href="#">Comments (15)</a></li>
						</ul>
					</footer>
				</div>
				
				<div class="art">
					<header class="post_head">
						<h2><a href="#">Options To Consider When Your Client Is Driving You Mad</a></h2>
					</header>

					<p>I guess I would be speaking on your behalf when I say that I feel so grateful for my clients.</p>
					<span class="more"><a href="#">Read more</a></span>					
				</div>
				</article>
			</div>
		
		</section>
		
		<div class="left_cont"><!--left container fo archive and blogroll-->
		<section id="archive">

		<header class="section_tit">
			<h3>Archive</h3>
		</header>
		
		<ol><!--list of posts-->
			<li><article>
				<figure class="float">
				<img src="images/test3.jpg" width="110" alt="test" />
				</figure>

				<header>
				<h2><a href="#">Options To Consider When Your Client Is Driving You Mad</a></h2>
				</header>
				<p>I guess I would be speaking on your behalf when I say that I feel so grateful for my clients.</p>
				<footer>
				<p><time datetime="2010-04-14" pubdate>April 14, 2010</time> | <a href="#">Comments (14)</a> | <a href="#">Read more</a>

				</footer>
			</article></li>
			
			<li><article>
				<figure class="float">
				<img src="images/test5.jpg" width="110" alt="test" />
				</figure>
				<header>
				<h2><a href="#">Purple In Web Design: A New Trend?</a></h2>

				</header>
				<p>For a long time purple has been the least used colour in web design.</p>
				<footer>
				<p><time datetime="2010-04-14" pubdate>April 14, 2010</time> | <a href="#">Comments (14)</a> | <a href="#">Read more</a>
				</footer>

			</article></li>
			
			<li><article>
				<figure class="float">
				<img src="images/test4.jpg" width="110" alt="test" />
				</figure>
				<header>
				<h2><a href="#">How To Design A Better Blog? Break Down The Rules</a></h2>
				</header>

				<p>Once upon a time in World Wide Web a private and personal diary, where recording daily activities and reflections, called Weblog.</p>
				<footer>
				<p><time datetime="2010-04-14" pubdate>April 14, 2010</time> | <a href="#">Comments (14)</a> | <a href="#">Read more</a>
				</footer>
			</article></li>

			
		</ol>
		<span class="more_arch"><a href="#">More posts</a></span>
		</section>
		
		<aside class="friends"><!--blogroll-->
		<nav>
		<div class="section_tit">
			<h3>Friends</h3>
		</div>

			
			<ul>
				<li><a href="#">PV.M Garage</a></li>
				<li><a href="#">Web Is Love</a></li>
				<li><a href="#">Web Expedition</a></li>
			</ul>
			<ul>
				<li><a href="#">Web Blend</a></li>

				<li><a href="#">Just Test</a></li>
				<li><a href="#">Another Test</a></li>
			</ul>
			<ul>
				<li><a href="#">Random Link</a></li>
				<li><a href="#">Black Rock</a></li>
				<li><a href="#">The Hydra</a></li>

			</ul>
			<ul>
				<li><a href="#">The Orchid</a></li>
				<li><a href="#">The Pearl</a></li>
				<li><a href="#">The Flame</a></li>
			</ul>
		</nav>

		</aside>
		</div>
		
		<aside><!--sidebar-->
		<section class="about">
		<header class="section_tit">
			<h3>About me</h3>
		</header>
			<div class="about_left">

				<figure>
					<img src="images/test6.jpg" width="120" alt="test" />
				</figure>
				<ul>
					<li><a href="#">follow me on twitter</a></li>
					<li><a href="#">be my friend</a></li>
					<li><a href="#">my bookmarks</a></li>

				</ul>
			</div>
			
			<div class="about_right">
			<p>Hi, this is M. Hurley, a web designer and developer strangely based in Italy. On this blog I want to share with you my experiences and my works. I won't teach, I just want to provide useful information to learn how to deal with the wonderful world of web design.</p>
			<p>Thanks for reading,</p>
			<p><em>Mr Hurley</em></p>
			</div>

		</section>		
		
		<nav>
		<div class="section_tit">
			<h3>Portfolio</h3>
		</div>
		<div class="portfolio">
			<ul>
				<li><a href="#"><img src="images/test1.jpg" width="110" alt="test" /></a></li>
				<li><a href="#"><img src="images/test2.jpg" width="110" alt="test" /></a></li>

				<li><a href="#"><img src="images/test3.jpg" width="110" alt="test" /></a></li>
				<li><a href="#"><img src="images/test4.jpg" width="110" alt="test" /></a></li>
				<li><a href="#"><img src="images/test5.jpg" width="110" alt="test" /></a></li>
				<li><a href="#"><img src="images/test1.jpg" width="110" alt="test" /></a></li>			
			</ul>
		</div>
		</nav>
		
		<section class="contact">
		<header class="section_tit">

			<h3>Contact</h3>
		</header>
		
			<p>If you are interested in advertising on this blog, you can purchase a banner directly from <a href="http://buysellads.com/buy/detail/7791">BuySellAds.com</a>, a great service to buy and sell ads.
Feel free to follow us on Twitter and to subscribe to our RSS feed. You can also contact directly Mr Hurley, the mind behind, through an email to <a href="mailto:pier.made@gmail.com">pier.made@gmail.com</a></p>
		</section>		
		</aside>
